{% extends 'base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <br>
            <div style="text-align: center;">
            <h2>
                Change Password
            </h2>
            </div>
            <br>
            {% load crispy_forms_tags %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
             <div style="text-align: center;"><button class="btn btn-lg col-5 btn-outline-dark">Change Password</button></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}