{% extends 'base.html' %}

{% block head %}
<title>Password Rest</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <br><br>
            <h2>
                Reset Password
            </h2>
            {% load crispy_forms_tags %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button class="btn btn-lg btn-outline-dark">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}