{% extends 'base.html' %}

{% block head %}
<title>Password Reset</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>
                <br>
                    <div style="text-align: center;">Reset Password</div>
                <br>
            </h2>
            {% load crispy_forms_tags %}
                <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}<br>
                <div style="text-align: center;"><button class="btn btn-lg btn-outline-dark">Reset Password</button></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}